.full-page {
  display: flex;
  background-color: #f6f5fd;
  min-height: 85vh;
  padding: 40px 60px;
  gap: 40px;
}
.left-part {
  display: flex;
  flex: 0.9;
  flex-direction: column;
  gap: 30px;
  /* justify-content: center; */
  padding: 40px;
}

.left-part_items {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-part_items-icon {
  background-color: #e4e1fe;
  font-size: 64px;
  color: #5148f7;
}
.left-part_items-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-part_items-text h3 {
  color: #000130;
}

.right-part {
  display: flex;
  flex: 1.1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-card {
  background: white;
  width: 100%;
  max-width: 550px;
  min-height: 700px;
  border-radius: 32px;
  padding: 40px;
  box-shadow: 0 15px 40px rgba(81, 72, 247, 0.08);
}

.todo-card h2 {
  margin-bottom: 30px;
  font-size: 2rem;
  font-weight: 700;
}
